.stocks-page{
    display: flex;
    flex-direction: column;
}

.stocks-page.search{
    
    width: 20rem;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    flex-direction: row;
    gap: 10px;
    
}
.stocks-page.search :hover{
 
    width: 12rem;
    transition: 1s;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 16rem; /* like max-h-64 */
  overflow-y: auto;
  z-index: 1000;
}

.p-2 {
  padding: 0.5rem;
  list-style: none;

}

.hover-bg-gray-100:hover {
  background-color: #f3f4f6;
  cursor: pointer;
  list-style: none;
}

.w-full {
  width: 100%;
}
.stock-dataform {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  padding: 1rem;
  width: 22rem;
  border: 1px solid #ccc;
  border-radius: 8px;
    align-items: center;
}
.stock-dataform.bar{
  width: 10rem;

}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-row label {
  width: 8rem;
  font-weight: 500;
}

.form-row input,
.form-row select {
  flex: 1;
  padding: 0.4rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.p-4{
  align-self: center;
}
.stock-widget-grid{
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  /* padding: 1rem; */
  /* flex-grow: 1; */
  /* padding: 1rem; */
  transition: margin-left 0.3s ease;
  margin-left: 0;
  margin-top: 60px; 

}
.stock-grid-items{

  border-radius: 1rem; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  background-color: white;
  transition: transform 0.2s ease-in-out;
}
.stock-grid-items:hover{

  
  transition: transform 0.2s ease-in-out;
  transform: translateX(-4px) translateY(-4px);
}
.button-container {
  display: flex;
  gap: 1rem; /* Optional: adds space between buttons */
  width: 100%; /* Ensures it uses the full parent width */
  position: relative;
  
}
.responsive-btn {
  flex: 1; /* Makes all buttons share equal width */
  padding: 0.5rem;
  font-size: 1rem;
  align-items: center;
}